TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/CarritoItemsWS/CarritoItems.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.techshopper.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CarritoItems" targetNamespace="http://services.techshopper.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/techShopperWS/CarritoItems?xsd=1" namespace="http://services.techshopper.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="agregarProductoAlCarrito">
    <part name="parameters" element="tns:agregarProductoAlCarrito" />
  </message>
  <message name="agregarProductoAlCarritoResponse">
    <part name="parameters" element="tns:agregarProductoAlCarritoResponse" />
  </message>
  <message name="obtenerCarritoItemPorId">
    <part name="parameters" element="tns:obtenerCarritoItemPorId" />
  </message>
  <message name="obtenerCarritoItemPorIdResponse">
    <part name="parameters" element="tns:obtenerCarritoItemPorIdResponse" />
  </message>
  <message name="eliminarProductoDelCarrito">
    <part name="parameters" element="tns:eliminarProductoDelCarrito" />
  </message>
  <message name="eliminarProductoDelCarritoResponse">
    <part name="parameters" element="tns:eliminarProductoDelCarritoResponse" />
  </message>
  <message name="listarTodosLosCarritoItems">
    <part name="parameters" element="tns:listarTodosLosCarritoItems" />
  </message>
  <message name="listarTodosLosCarritoItemsResponse">
    <part name="parameters" element="tns:listarTodosLosCarritoItemsResponse" />
  </message>
  <message name="listarItemsPorCarrito">
    <part name="parameters" element="tns:listarItemsPorCarrito" />
  </message>
  <message name="listarItemsPorCarritoResponse">
    <part name="parameters" element="tns:listarItemsPorCarritoResponse" />
  </message>
  <message name="actualizarCantidadProducto">
    <part name="parameters" element="tns:actualizarCantidadProducto" />
  </message>
  <message name="actualizarCantidadProductoResponse">
    <part name="parameters" element="tns:actualizarCantidadProductoResponse" />
  </message>
  <message name="calcularTotalCarrito">
    <part name="parameters" element="tns:calcularTotalCarrito" />
  </message>
  <message name="calcularTotalCarritoResponse">
    <part name="parameters" element="tns:calcularTotalCarritoResponse" />
  </message>
  <message name="modificarCarritoItem">
    <part name="parameters" element="tns:modificarCarritoItem" />
  </message>
  <message name="modificarCarritoItemResponse">
    <part name="parameters" element="tns:modificarCarritoItemResponse" />
  </message>
  <message name="insertarCarritoItem">
    <part name="parameters" element="tns:insertarCarritoItem" />
  </message>
  <message name="insertarCarritoItemResponse">
    <part name="parameters" element="tns:insertarCarritoItemResponse" />
  </message>
  <message name="eliminarCarritoItem">
    <part name="parameters" element="tns:eliminarCarritoItem" />
  </message>
  <message name="eliminarCarritoItemResponse">
    <part name="parameters" element="tns:eliminarCarritoItemResponse" />
  </message>
  <message name="vaciarCarrito">
    <part name="parameters" element="tns:vaciarCarrito" />
  </message>
  <message name="vaciarCarritoResponse">
    <part name="parameters" element="tns:vaciarCarritoResponse" />
  </message>
  <portType name="CarritoItems">
    <operation name="agregarProductoAlCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/agregarProductoAlCarritoRequest" message="tns:agregarProductoAlCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/agregarProductoAlCarritoResponse" message="tns:agregarProductoAlCarritoResponse" />
    </operation>
    <operation name="obtenerCarritoItemPorId">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/obtenerCarritoItemPorIdRequest" message="tns:obtenerCarritoItemPorId" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/obtenerCarritoItemPorIdResponse" message="tns:obtenerCarritoItemPorIdResponse" />
    </operation>
    <operation name="eliminarProductoDelCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/eliminarProductoDelCarritoRequest" message="tns:eliminarProductoDelCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/eliminarProductoDelCarritoResponse" message="tns:eliminarProductoDelCarritoResponse" />
    </operation>
    <operation name="listarTodosLosCarritoItems">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/listarTodosLosCarritoItemsRequest" message="tns:listarTodosLosCarritoItems" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/listarTodosLosCarritoItemsResponse" message="tns:listarTodosLosCarritoItemsResponse" />
    </operation>
    <operation name="listarItemsPorCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/listarItemsPorCarritoRequest" message="tns:listarItemsPorCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/listarItemsPorCarritoResponse" message="tns:listarItemsPorCarritoResponse" />
    </operation>
    <operation name="actualizarCantidadProducto">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/actualizarCantidadProductoRequest" message="tns:actualizarCantidadProducto" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/actualizarCantidadProductoResponse" message="tns:actualizarCantidadProductoResponse" />
    </operation>
    <operation name="calcularTotalCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/calcularTotalCarritoRequest" message="tns:calcularTotalCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/calcularTotalCarritoResponse" message="tns:calcularTotalCarritoResponse" />
    </operation>
    <operation name="modificarCarritoItem">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/modificarCarritoItemRequest" message="tns:modificarCarritoItem" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/modificarCarritoItemResponse" message="tns:modificarCarritoItemResponse" />
    </operation>
    <operation name="insertarCarritoItem">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/insertarCarritoItemRequest" message="tns:insertarCarritoItem" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/insertarCarritoItemResponse" message="tns:insertarCarritoItemResponse" />
    </operation>
    <operation name="eliminarCarritoItem">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/eliminarCarritoItemRequest" message="tns:eliminarCarritoItem" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/eliminarCarritoItemResponse" message="tns:eliminarCarritoItemResponse" />
    </operation>
    <operation name="vaciarCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/vaciarCarritoRequest" message="tns:vaciarCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/CarritoItems/vaciarCarritoResponse" message="tns:vaciarCarritoResponse" />
    </operation>
  </portType>
  <binding name="CarritoItemsPortBinding" type="tns:CarritoItems">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarProductoAlCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCarritoItemPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProductoDelCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLosCarritoItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarItemsPorCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCantidadProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="calcularTotalCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCarritoItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCarritoItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCarritoItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="vaciarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CarritoItems">
    <port name="CarritoItemsPort" binding="tns:CarritoItemsPortBinding">
      <soap:address location="http://localhost:8080/techShopperWS/CarritoItems" />
    </port>
  </service>
</definitions>