TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/CarritoItemsWS/CarritoItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.techshopper.pucp.edu.pe/" targetNamespace="http://services.techshopper.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCantidadProducto" type="tns:actualizarCantidadProducto" />
  <xs:element name="actualizarCantidadProductoResponse" type="tns:actualizarCantidadProductoResponse" />
  <xs:element name="agregarProductoAlCarrito" type="tns:agregarProductoAlCarrito" />
  <xs:element name="agregarProductoAlCarritoResponse" type="tns:agregarProductoAlCarritoResponse" />
  <xs:element name="calcularTotalCarrito" type="tns:calcularTotalCarrito" />
  <xs:element name="calcularTotalCarritoResponse" type="tns:calcularTotalCarritoResponse" />
  <xs:element name="eliminarCarritoItem" type="tns:eliminarCarritoItem" />
  <xs:element name="eliminarCarritoItemResponse" type="tns:eliminarCarritoItemResponse" />
  <xs:element name="eliminarProductoDelCarrito" type="tns:eliminarProductoDelCarrito" />
  <xs:element name="eliminarProductoDelCarritoResponse" type="tns:eliminarProductoDelCarritoResponse" />
  <xs:element name="insertarCarritoItem" type="tns:insertarCarritoItem" />
  <xs:element name="insertarCarritoItemResponse" type="tns:insertarCarritoItemResponse" />
  <xs:element name="listarItemsPorCarrito" type="tns:listarItemsPorCarrito" />
  <xs:element name="listarItemsPorCarritoResponse" type="tns:listarItemsPorCarritoResponse" />
  <xs:element name="listarTodosLosCarritoItems" type="tns:listarTodosLosCarritoItems" />
  <xs:element name="listarTodosLosCarritoItemsResponse" type="tns:listarTodosLosCarritoItemsResponse" />
  <xs:element name="modificarCarritoItem" type="tns:modificarCarritoItem" />
  <xs:element name="modificarCarritoItemResponse" type="tns:modificarCarritoItemResponse" />
  <xs:element name="obtenerCarritoItemPorId" type="tns:obtenerCarritoItemPorId" />
  <xs:element name="obtenerCarritoItemPorIdResponse" type="tns:obtenerCarritoItemPorIdResponse" />
  <xs:element name="vaciarCarrito" type="tns:vaciarCarrito" />
  <xs:element name="vaciarCarritoResponse" type="tns:vaciarCarritoResponse" />
  <xs:complexType name="modificarCarritoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarritoItem" type="xs:int" />
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarCarritoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCantidadProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nuevaCantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCantidadProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarItemsPorCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarItemsPorCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoItemsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoItemsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carritoDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexionDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stockDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="stockReservado" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarritoItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProductoAlCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarProductoAlCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vaciarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vaciarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoItemPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarritoItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoItemPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoItemsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosCarritoItems">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosCarritoItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoItemsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoDelCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoDelCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcularTotalCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcularTotalCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexionDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_eSPERA" />
      <xs:enumeration value="RECONECTADO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="LIMITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rolUsuarioDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="categoriaDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAPTOP" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="MOUSE" />
      <xs:enumeration value="MONITOR" />
      <xs:enumeration value="TECLADO" />
      <xs:enumeration value="AURICULARES" />
      <xs:enumeration value="AUDIFONOS" />
      <xs:enumeration value="MICROFONO" />
      <xs:enumeration value="PARLANTES" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>