TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/AdministradoresWS/Administradores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.techshopper.pucp.edu.pe/" targetNamespace="http://services.techshopper.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarAdministrador" type="tns:actualizarAdministrador" />
  <xs:element name="actualizarAdministradorResponse" type="tns:actualizarAdministradorResponse" />
  <xs:element name="actualizarEstadoConexion" type="tns:actualizarEstadoConexion" />
  <xs:element name="actualizarEstadoConexionResponse" type="tns:actualizarEstadoConexionResponse" />
  <xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador" />
  <xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse" />
  <xs:element name="iniciarSesion" type="tns:iniciarSesion" />
  <xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse" />
  <xs:element name="obtenerAdministradorPorId" type="tns:obtenerAdministradorPorId" />
  <xs:element name="obtenerAdministradorPorIdResponse" type="tns:obtenerAdministradorPorIdResponse" />
  <xs:element name="registrarAdministrador" type="tns:registrarAdministrador" />
  <xs:element name="registrarAdministradorResponse" type="tns:registrarAdministradorResponse" />
  <xs:complexType name="obtenerAdministradorPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAdministrador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAdministradorPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administradorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaUltimoAcceso" type="tns:localDateTime" />
          <xs:element minOccurs="0" name="nivelAcceso" type="tns:nivelAccesoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexionDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="iniciarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="correoONombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iniciarSesionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEstadoConexion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAdministrador" type="xs:int" />
      <xs:element minOccurs="0" name="nuevoEstado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEstadoConexionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAdministrador" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAdministrador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelAccesoDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BASICO" />
      <xs:enumeration value="MEDIO" />
      <xs:enumeration value="AVANZADO" />
      <xs:enumeration value="SUPER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoConexionDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_eSPERA" />
      <xs:enumeration value="RECONECTADO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="LIMITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rolUsuarioDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>