TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/LocalizacionesWS/Localizaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.techshopper.pucp.edu.pe/" targetNamespace="http://services.techshopper.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarLocalizacion" type="tns:actualizarLocalizacion" />
  <xs:element name="actualizarLocalizacionResponse" type="tns:actualizarLocalizacionResponse" />
  <xs:element name="eliminarLocalizacion" type="tns:eliminarLocalizacion" />
  <xs:element name="eliminarLocalizacionResponse" type="tns:eliminarLocalizacionResponse" />
  <xs:element name="insertarLocalizacion" type="tns:insertarLocalizacion" />
  <xs:element name="insertarLocalizacionResponse" type="tns:insertarLocalizacionResponse" />
  <xs:element name="listarTodasLasLocalizaciones" type="tns:listarTodasLasLocalizaciones" />
  <xs:element name="listarTodasLasLocalizacionesResponse" type="tns:listarTodasLasLocalizacionesResponse" />
  <xs:element name="obtenerLocalizacionPorId" type="tns:obtenerLocalizacionPorId" />
  <xs:element name="obtenerLocalizacionPorIdResponse" type="tns:obtenerLocalizacionPorIdResponse" />
  <xs:complexType name="actualizarLocalizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLocalizacion" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLocalizacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasLasLocalizaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasLasLocalizacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:localizacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localizacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="idLocalizacion" type="xs:int" />
      <xs:element minOccurs="0" name="latitud" type="xs:double" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexionDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarLocalizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLocalizacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLocalizacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLocalizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="latitud" type="xs:double" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLocalizacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLocalizacionPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLocalizacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLocalizacionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:localizacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexionDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_eSPERA" />
      <xs:enumeration value="RECONECTADO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="LIMITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rolUsuarioDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>