TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/ClientesWS/Clientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.techshopper.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Clientes" targetNamespace="http://services.techshopper.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/techShopperWS/Clientes?xsd=1" namespace="http://services.techshopper.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarEstadoConexionCliente">
    <part name="parameters" element="tns:actualizarEstadoConexionCliente" />
  </message>
  <message name="actualizarEstadoConexionClienteResponse">
    <part name="parameters" element="tns:actualizarEstadoConexionClienteResponse" />
  </message>
  <message name="mostrarCarritoDeCliente">
    <part name="parameters" element="tns:mostrarCarritoDeCliente" />
  </message>
  <message name="mostrarCarritoDeClienteResponse">
    <part name="parameters" element="tns:mostrarCarritoDeClienteResponse" />
  </message>
  <message name="actualizarBalanceCliente">
    <part name="parameters" element="tns:actualizarBalanceCliente" />
  </message>
  <message name="actualizarBalanceClienteResponse">
    <part name="parameters" element="tns:actualizarBalanceClienteResponse" />
  </message>
  <message name="obtenerClientePorId">
    <part name="parameters" element="tns:obtenerClientePorId" />
  </message>
  <message name="obtenerClientePorIdResponse">
    <part name="parameters" element="tns:obtenerClientePorIdResponse" />
  </message>
  <message name="iniciarSesion">
    <part name="parameters" element="tns:iniciarSesion" />
  </message>
  <message name="iniciarSesionResponse">
    <part name="parameters" element="tns:iniciarSesionResponse" />
  </message>
  <message name="insertarCarrito">
    <part name="parameters" element="tns:insertarCarrito" />
  </message>
  <message name="insertarCarritoResponse">
    <part name="parameters" element="tns:insertarCarritoResponse" />
  </message>
  <message name="registrarCliente">
    <part name="parameters" element="tns:registrarCliente" />
  </message>
  <message name="registrarClienteResponse">
    <part name="parameters" element="tns:registrarClienteResponse" />
  </message>
  <message name="actualizarCliente">
    <part name="parameters" element="tns:actualizarCliente" />
  </message>
  <message name="actualizarClienteResponse">
    <part name="parameters" element="tns:actualizarClienteResponse" />
  </message>
  <message name="realizarCompra">
    <part name="parameters" element="tns:realizarCompra" />
  </message>
  <message name="realizarCompraResponse">
    <part name="parameters" element="tns:realizarCompraResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <portType name="Clientes">
    <operation name="actualizarEstadoConexionCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarEstadoConexionClienteRequest" message="tns:actualizarEstadoConexionCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarEstadoConexionClienteResponse" message="tns:actualizarEstadoConexionClienteResponse" />
    </operation>
    <operation name="mostrarCarritoDeCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/mostrarCarritoDeClienteRequest" message="tns:mostrarCarritoDeCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/mostrarCarritoDeClienteResponse" message="tns:mostrarCarritoDeClienteResponse" />
    </operation>
    <operation name="actualizarBalanceCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarBalanceClienteRequest" message="tns:actualizarBalanceCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarBalanceClienteResponse" message="tns:actualizarBalanceClienteResponse" />
    </operation>
    <operation name="obtenerClientePorId">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/obtenerClientePorIdRequest" message="tns:obtenerClientePorId" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/obtenerClientePorIdResponse" message="tns:obtenerClientePorIdResponse" />
    </operation>
    <operation name="iniciarSesion">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/iniciarSesionRequest" message="tns:iniciarSesion" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/iniciarSesionResponse" message="tns:iniciarSesionResponse" />
    </operation>
    <operation name="insertarCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/insertarCarritoRequest" message="tns:insertarCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/insertarCarritoResponse" message="tns:insertarCarritoResponse" />
    </operation>
    <operation name="registrarCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/registrarClienteRequest" message="tns:registrarCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/registrarClienteResponse" message="tns:registrarClienteResponse" />
    </operation>
    <operation name="actualizarCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarClienteRequest" message="tns:actualizarCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/actualizarClienteResponse" message="tns:actualizarClienteResponse" />
    </operation>
    <operation name="realizarCompra">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/realizarCompraRequest" message="tns:realizarCompra" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/realizarCompraResponse" message="tns:realizarCompraResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Clientes/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
  </portType>
  <binding name="ClientesPortBinding" type="tns:Clientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarEstadoConexionCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarCarritoDeCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarBalanceCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerClientePorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="iniciarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="realizarCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Clientes">
    <port name="ClientesPort" binding="tns:ClientesPortBinding">
      <soap:address location="http://localhost:8080/techShopperWS/Clientes" />
    </port>
  </service>
</definitions>