TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/CarritosWS/Carritos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.techshopper.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Carritos" targetNamespace="http://services.techshopper.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/techShopperWS/Carritos?xsd=1" namespace="http://services.techshopper.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="crearCarrito">
    <part name="parameters" element="tns:crearCarrito" />
  </message>
  <message name="crearCarritoResponse">
    <part name="parameters" element="tns:crearCarritoResponse" />
  </message>
  <message name="eliminarCarrito">
    <part name="parameters" element="tns:eliminarCarrito" />
  </message>
  <message name="eliminarCarritoResponse">
    <part name="parameters" element="tns:eliminarCarritoResponse" />
  </message>
  <message name="montoAPagar">
    <part name="parameters" element="tns:montoAPagar" />
  </message>
  <message name="montoAPagarResponse">
    <part name="parameters" element="tns:montoAPagarResponse" />
  </message>
  <message name="listarTodosLosCarritos">
    <part name="parameters" element="tns:listarTodosLosCarritos" />
  </message>
  <message name="listarTodosLosCarritosResponse">
    <part name="parameters" element="tns:listarTodosLosCarritosResponse" />
  </message>
  <message name="obtenerCarritoPorId">
    <part name="parameters" element="tns:obtenerCarritoPorId" />
  </message>
  <message name="obtenerCarritoPorIdResponse">
    <part name="parameters" element="tns:obtenerCarritoPorIdResponse" />
  </message>
  <message name="actualizarPrecioCarrito">
    <part name="parameters" element="tns:actualizarPrecioCarrito" />
  </message>
  <message name="actualizarPrecioCarritoResponse">
    <part name="parameters" element="tns:actualizarPrecioCarritoResponse" />
  </message>
  <portType name="Carritos">
    <operation name="crearCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/crearCarritoRequest" message="tns:crearCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/crearCarritoResponse" message="tns:crearCarritoResponse" />
    </operation>
    <operation name="eliminarCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/eliminarCarritoRequest" message="tns:eliminarCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/eliminarCarritoResponse" message="tns:eliminarCarritoResponse" />
    </operation>
    <operation name="montoAPagar">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/montoAPagarRequest" message="tns:montoAPagar" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/montoAPagarResponse" message="tns:montoAPagarResponse" />
    </operation>
    <operation name="listarTodosLosCarritos">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/listarTodosLosCarritosRequest" message="tns:listarTodosLosCarritos" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/listarTodosLosCarritosResponse" message="tns:listarTodosLosCarritosResponse" />
    </operation>
    <operation name="obtenerCarritoPorId">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/obtenerCarritoPorIdRequest" message="tns:obtenerCarritoPorId" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/obtenerCarritoPorIdResponse" message="tns:obtenerCarritoPorIdResponse" />
    </operation>
    <operation name="actualizarPrecioCarrito">
      <input wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/actualizarPrecioCarritoRequest" message="tns:actualizarPrecioCarrito" />
      <output wsam:Action="http://services.techshopper.pucp.edu.pe/Carritos/actualizarPrecioCarritoResponse" message="tns:actualizarPrecioCarritoResponse" />
    </operation>
  </portType>
  <binding name="CarritosPortBinding" type="tns:Carritos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="crearCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="montoAPagar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLosCarritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCarritoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPrecioCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Carritos">
    <port name="CarritosPort" binding="tns:CarritosPortBinding">
      <soap:address location="http://localhost:8080/techShopperWS/Carritos" />
    </port>
  </service>
</definitions>