TechShopperFrontend/TechShopperWA/TechShopperBO/Connected Services/CarritosWS/Carritos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.techshopper.pucp.edu.pe/" targetNamespace="http://services.techshopper.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPrecioCarrito" type="tns:actualizarPrecioCarrito" />
  <xs:element name="actualizarPrecioCarritoResponse" type="tns:actualizarPrecioCarritoResponse" />
  <xs:element name="crearCarrito" type="tns:crearCarrito" />
  <xs:element name="crearCarritoResponse" type="tns:crearCarritoResponse" />
  <xs:element name="eliminarCarrito" type="tns:eliminarCarrito" />
  <xs:element name="eliminarCarritoResponse" type="tns:eliminarCarritoResponse" />
  <xs:element name="listarTodosLosCarritos" type="tns:listarTodosLosCarritos" />
  <xs:element name="listarTodosLosCarritosResponse" type="tns:listarTodosLosCarritosResponse" />
  <xs:element name="montoAPagar" type="tns:montoAPagar" />
  <xs:element name="montoAPagarResponse" type="tns:montoAPagarResponse" />
  <xs:element name="obtenerCarritoPorId" type="tns:obtenerCarritoPorId" />
  <xs:element name="obtenerCarritoPorIdResponse" type="tns:obtenerCarritoPorIdResponse" />
  <xs:complexType name="crearCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="montoAPagar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="montoAPagarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPrecioCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="nuevoPrecio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPrecioCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosCarritos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosCarritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexionDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCarritoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexionDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_eSPERA" />
      <xs:enumeration value="RECONECTADO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="LIMITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rolUsuarioDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>