TechShopperWA (2)/TechShopperWA/TechShopperWA/TechShopperWA/Connected Services/ProductosWS/Productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.techshopper.pucp.edu.pe/" targetNamespace="http://services.techshopper.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarProducto" type="tns:actualizarProducto" />
  <xs:element name="actualizarProductoResponse" type="tns:actualizarProductoResponse" />
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="listarPor3criterios" type="tns:listarPor3criterios" />
  <xs:element name="listarPor3criteriosResponse" type="tns:listarPor3criteriosResponse" />
  <xs:element name="listarTodosProductos" type="tns:listarTodosProductos" />
  <xs:element name="listarTodosProductosResponse" type="tns:listarTodosProductosResponse" />
  <xs:element name="obtenerProductoPorId" type="tns:obtenerProductoPorId" />
  <xs:element name="obtenerProductoPorIdResponse" type="tns:obtenerProductoPorIdResponse" />
  <xs:element name="registrarProductosssss" type="tns:registrarProductosssss" />
  <xs:element name="registrarProductosssssResponse" type="tns:registrarProductosssssResponse" />
  <xs:complexType name="listarPor3criterios">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPor3criteriosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stockDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="stockReservado" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexionDTO" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarProductosssss">
    <xs:sequence>
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stockDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idAdministador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarProductosssssResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProductoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProductoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAPTOP" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="MOUSE" />
      <xs:enumeration value="MONITOR" />
      <xs:enumeration value="TECLADO" />
      <xs:enumeration value="AURICULARES" />
      <xs:enumeration value="AUDIFONOS" />
      <xs:enumeration value="MICROFONO" />
      <xs:enumeration value="PARLANTES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoConexionDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_eSPERA" />
      <xs:enumeration value="RECONECTADO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="LIMITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rolUsuarioDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>